.pokeball {
  height: 1%;
}

.row {
  height: 10%;
}

#tituloPokemon {
  font-size: 0.8em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tipos {
  font-weight: bold;
  background-color: beige;
}
